@import './base.css';

body {
  background-size: 100%;
  background: url("./back.jpg") no-repeat bottom;
  height: 100dvh;
  padding: 0;
  margin: 0;
  position: relative;
}

body .sofa {
  position: absolute;
  bottom: 8%;
}

body .sofa {
  right: 10%;
  width: 400px;
  height: 360px;
}

body .sofa > * {
  width: 100%;
  height: 100%;
  position: absolute;
}

body .mobl2 {
  left: 14%;
}